:root {
	--base: #faf4ed;
	--surface: #fffaf3;
	--overlay: #f2e9e1;
	--muted: #9893a5;
	--subtle: #797593;
	--text: #575279;
	--love: #b4637a;
	--gold: #ea9d34;
	--rose: #d7827e;
	--pine: #286983;
	--foam: #56949f;
	--iris: #907aa9;
	--highlight-low: #f4ede8;
	--highlight-med: #dfdad9;
	--highlight-high: #cecacd;
}

@media (prefers-color-scheme: dark) :root {
	--base: #191724;
	--surface: #1f1d2e;
	--overlay: #26233a;
	--muted: #6e6a86;
	--subtle: #908caa;
	--text: #e0def4;
	--love: #eb6f92;
	--gold: #f6c177;
	--rose: #ebbcba;
	--pine: #31748f;
	--foam: #9ccfd8;
	--iris: #c4a7e7;
	--highlight-low: #21202e;
	--highlight-med: #403d52;
	--highlight-high: #524f67;
}

body {
	font-family: sans-serif;
	background-color: var(--base);
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--text);
}

a {
	color: var(--iris);
}

hr {
	color: var(--highlight-high);
}

footer {
	color: var(--muted);
}

img#buttons {
	image-rendering: pixelated;
}

.title h2 {
	margin-bottom: 0;
}

.title p {
	margin-top: 0;
}

nav a {
	margin-right: 0;
}
