<img src="/buttons/animegay.png" alt="anime is gay as hell but I approve!">
<img src="/buttons/caramelldansen.gif" alt="caramelldansen">
<img src="/buttons/cc-by-sa.gif" alt="cc-by-sa">
<img src="/buttons/cssisdifficult.gif" alt="CSS is difficult">
<img src="/buttons/iso8601.png" alt="iso 8601">
<img src="/buttons/killsfascists.png" alt="THIS MACHINE KILLS FASCISTS">
<img src="/buttons/lesbian.png" alt="lesbian flag">
<img src="/buttons/mikuapproved.gif" alt="miku approved">
<img src="/buttons/poweredbyestrogen.gif" alt="Powered by Estrogen">
<img src="/buttons/poweredbylinux.png" alt="Powered by Linux">
<img src="/buttons/testedonfirefox.gif" alt="tested on firefox">
<img src="/buttons/trans.png" alt="trans flag">
<img src="/buttons/transyourgender.gif" alt="trans your gender">
<p>
	<a href="https://fediring.net/previous?host=vimproved.dev">←</a>
	<a href="https://fediring.net/">Fediring</a>
	<a href="https://fediring.net/next?host=vimproved.dev">→</a>
</p>
<a href="https://github.com/vimproved/vimproved.github.io">Source Code</a>
<br/>
{{ transform.Markdownify .Site.Copyright }}
<br/>
<br/>
<a href="https://gentoo.org">
	<img src="/buttons/gentoopowered.png" alt="gentoo powered"/>
</a>
